<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453945219699-8pb3chb4kdl10nhiph4r4lut77pqivoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453945219699-8pb3chb4kdl10nhiph4r4lut77pqivoo</string>
	<key>API_KEY</key>
	<string>AIzaSyAsnotvu3drYtGK5OA2JAg9saA-5m5xn9s</string>
	<key>GCM_SENDER_ID</key>
	<string>453945219699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gitFetchapi2</string>
	<key>PROJECT_ID</key>
	<string>newcrudd</string>
	<key>STORAGE_BUCKET</key>
	<string>newcrudd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453945219699:ios:8a2e29d785359f0c8be806</string>
</dict>
</plist>